{% extends 'base/base.html' %}

{% block lista %}
<form method="POST" enctype="multipart/form-data">
    <section class="detalhar">
            {% csrf_token %}
            <div class="note">
                <article id="titulo">
                    <b>Aposta</b>
                </article>
                <article id="basico">
                    {{ formApostaJB.as_p }}
                    <button id="enviar" type="submit">Salvar</button>
                </article>
            </div>
    </section>
    </form>
{% endblock lista %}