{% extends 'base/base.html' %}
{% block lista %}
<form class="formulario" action="{% url 'depositar_conta' %}" method="post">
<section class="detalhar">
    
        {% csrf_token %}
        <div class="note">
            <article id="titulo">
                <b><ion-icon name="cash-outline"></ion-icon>&nbspDeposito</b>
            </article>
            <article id="basico">

                    <li><label><b>Valor: R$</b>&nbsp</label><br></li><li><input class="caixaTexto" name="valor" type="number"></li><br>
                    <li><button id="enviar" type="submit" style="margin-left: 0px;">Depositar</button></li>

            </article>
        </div>
</section>
</form>
{% endblock lista %}