{% extends 'base/base.html' %}
{% block lista %}
<section class="detalhar">
    <form class="formulario" action="{% url 'sacar_conta' %}" method="post">
        {% csrf_token %}
        <div class="note">
            <article id="titulo">
                <b><ion-icon name="cash-outline"></ion-icon>&nbspSaque</b>
            </article>
            <article id="basico">
                <ul>
                    <li><label><b>Valor: R$</b>&nbsp</label><br></li><li><input class="caixaTexto" name="valor" type="number"></li>
                    <li><button id="enviar" type="submit" style="margin-left: 0px;">Sacar</button></li>
                <ul>
            </article>
        </div>
    </form>
</section>
{% endblock lista %}